---
import NavBar from "../components/NavBar.astro";
import HeroSection from "../components/HeroSection.astro";
import GroupsLocationsSection from "../components/GroupsLocationsSection.astro";
import PricingSection from "../components/PricingSection.astro";
import ClubSection from "../components/ClubSection.astro";
import GallerySection from "../components/GallerySection.astro";
import ContactSection from "../components/ContactSection.astro";
import SponsorsSection from "../components/SponsorsSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
import PageInteractions from "../components/PageInteractions.astro";
import { site } from "../data/site";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title={`${site.clubName} - Roller vitesse à Nancy`}
  description="Club de roller de vitesse à Nancy : enfants, initiation, compétition, horaires, tarifs et inscription."
>
  <div class="page">
    <NavBar site={site} />
    <HeroSection helloAssoUrl={site.helloAssoUrl} />
    <main>
      <GroupsLocationsSection site={site} />
      <PricingSection site={site} />
      <ClubSection />
      <GallerySection />
      <ContactSection site={site} />
      <SponsorsSection sponsors={site.sponsors} />
    </main>
    <SiteFooter clubName={site.clubName} />
    <div class="egg" aria-hidden="true"></div>
  </div>
  <PageInteractions />
</BaseLayout>
